body {
    font-family: 'Abel', sans-serif;
}

p {
    margin-left: 25px;
    margin-top: 15px;
    line-height: 24px;
}

h2 {
    margin-left: 25px;
}

form {
    margin-left: 25px;
}

.Name {
    width: 200px;
    height: 25px;
    border: none;
}

.Message {
    width: 200px;
    height: 75px;
    border: none;
}

.textarea {
    height: 60px;
}

.main-container header {
    background-image: url('./astronaut.jpg');
    background-size: cover;
    height: 450px;
    width: 850px;
}

.NASA-text {
    color: white;
    text-align: center;
}

.column {
    margin-top: 25px;
    float: left;
    width: 283px;
    height: 324px;
    background-color: #E6E6E6;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }